.item-container-1{
  width: 90%;
  margin: 0px 5%;
  padding: 20px 20px 0px 20px;
  overflow: auto;
  height: 85vh;
}

.item-container{
  background-color: #ffffff;
  min-height: calc(80vh - 150px);
  height: fit-content;
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
}

.item-card{
  margin-top: 1rem;
  background-color: #ffffff;
  padding: 5px;
  border-top: 1px solid;
  /* border-radius: 10px; */
  /* border: 1px solid; */
}